.contentCourse {
  flex: 5;
  display: flex;
  flex: column;
  margin-top: 1.5rem;
  background-color:white;
}
.contentCourseLeft {
  flex: 2;
}
.contentCourseBody {
  flex: 10;
  padding:2rem;
  border: 2px solid gray;
}
.contentCourseBody h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.singleBrief{
  width: 250px;
  height:70px;
  padding:0.5em;
  margin-left: 1em;
  margin-top:1em;
  
}
.allBrief{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.contentCourseRight {
  flex: 3;
}
