* {
  margin: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.card-list {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 1px solid black;
  width: 22rem;
  height: 26rem;
  margin: 3rem 1rem;
}

.card .btn {
  color: #ffffff;
  background-color: #000000;
}

.card .btn:hover {
  background-color: #519c4a;
}
